{% extends "AppBundle::homePage.html.twig" %}

{% block css %}
        <link rel="stylesheet" href="css/bootstrap.min.css">
{% endblock %}

{% block title %}<h1>Our products</h1>{% endblock %}

{% block body %}
        {% for item in list %}
            <h1>Firm - {{ item.firm }}</h1>
            {{ item.image }}
            <h1>Price - {{ item.price }}</h1>
            <input type='button' value='View' onClick='location.href="{{ path("view", { "selected" : selected, "id" : item.id } ) }}"'>
            <hr>
        {% endfor %}
{% endblock %}
